nav {
    position: sticky;
    background-color: color-mix(in srgb, var(--neutral-color) 95%, transparent);
    top: 0;
    width: 100%;
    z-index: 1000;
}

nav .content-wrapper {
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    display: flex;
    gap: 1.5rem;
}

.logo {
    font-family: var(--headline-bold-font);
    color: var(--logo-color);
    font-size: var(--text-xl);
}

.nav-link {
    font-family: var(--body-font);
    color: var(--link-base-color);
}

.nav-link:hover {
    color: var(--link-hover-color);
}

.nav-link.active {
    color: var(--link-active-color);
    font-family: var(--headline-bold-font);
}

.nav-link .active-line {
    display: block;
    width: 100%;
    height: 2px;
    background-color: var(--link-active-color);
    margin-top: 4px;
}